.art-btn-prop {
    background-color: $color-white;
    color: $color-black-2;
    display: inline-flex;
    font-size: 18px;
    min-width: 153px;
    min-height: 50px;
    padding: $spacer-3 $spacer-3;
    overflow: hidden;
    font-weight: $font-bold;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        color: $color-black;
    }

    &--gold {
        background-color: $color-gold;
        color: $color-white;
        font-size: 14px;
        letter-spacing: 2px;
        font-family: 'Lato';

        &:hover {
            color: $color-white;
        }
    }

    &--view-details {
        letter-spacing: 2px;
        font-size: 14px;
    }

    &--enquire {
        background-color: $color-yellow;
        min-width: 198px;
        min-height: 52px;
        font-size: 14px;
        letter-spacing: 2px;
        font-family: "Lato";
    }

}

.art-btn-view-all {
    background-color: $color-red;
    color: $color-white;
    display: inline-flex;
    font-size: 14px;
    max-width: 156px;
    min-height: 50px;
    padding: $spacer-1 $spacer-2;
    overflow: hidden;
    font-weight: $font-bold;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        color: $color-white;
    }
}