.art-navbar{
    background: transparent;
    position: fixed;
    padding: $spacer-0 0;
    // background-color: $color-blue;
    // box-shadow: 0 2px 5px $color-grey-2;
    width: 100vw;
    z-index: 9999;

    .container-xxl{
        padding: $spacer-0;
    }
    .navbar-brand{
        padding: $spacer-0;
        margin: $spacer-0;
        z-index: 4;
        width: 100px;
        // width: calc(70px + 0.9vw);
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: space-evenly;
        align-items: center;
        // margin-left: $spacer-6;
    }
    .navbar-toggler{
        border: none;
        z-index: 3;
        padding: $spacer-0;
        &:focus{
            box-shadow: none;
        }
    }
    &__right-sec{
        display: flex;
        position: fixed;
        top: 4%;
        right: 4%;
        // transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;

        .art-btn-prop{
            font-size: 14px;
            letter-spacing: 1px;
            padding: $spacer-2 $spacer-2;
            min-width: 149px;
        }
    }
    &__whatsapp-wrap{
        display: flex;
        // flex-direction: column-reverse;
    }
    &__btn{
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 100px;
        margin-right: 18px;
        background: $color-white;
    }
    &__btn-link{
        display: flex;
        align-items: center;
        // background: $color-white;
        background: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
        border: 1px solid $color-black;
        padding: 0 6px;
        width: 100%;
        height: 35px;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        &:hover{
            scale: 1.1;
        }
    }
    &__nav-item{
        display: flex;
        justify-content: center;
        margin: $spacer-3 $spacer-4;
        // &:last-child{
        //     margin-right: $spacer-0;
        // }
    }
    &__nav-link{
        // background: linear-gradient(90deg,#001a4d,#0055ff);
        // background-clip: text;
        color: $color-white;
        // color: $color-black;
        font-size: 17px;
        font-weight: $font-medium;
        &:hover{
            color: $color-blue-2;
            text-decoration: none;
        }
        &.active{
            color: $color-blue-2;
        }
        
    }
    &__gradient{
        fill: $color-blue-2;
    }

    &__whatsapp{
        display: flex;
        align-items: center;
        margin-right: $spacer-5;
        a{
            color: $color-white;
        }
    }
}

@include mobile{
    .art-navbar{
        .navbar-collapse{
            .navbar-nav{
                position: fixed;
                left: 0;
                // background-color: $color-white;
                width: 100%;
                min-width: 280px;
                height: max-content;
                padding: $spacer-3;
                transform: translateY(-280px);
                transition: all .3s ease-in-out;
                opacity: 0;
                z-index: 999;
                background-color: rgba(0,0,0,0.5);
            }
            &.show {
                .navbar-nav {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        &__whatsapp-wrap{
            flex-direction: column-reverse;
        }
        &__whatsapp{
            margin-top: $spacer-2;
            font-size: 14px;
        }
        &__btn{
            margin-right: 12px;
        }
        &__right-sec{
            top: 2%;
            right: 2%;
            .art-btn-prop{
                font-size: 11px;
                min-width: 129px;
            }
        }
    }
}

@include mobile-pro{
    .art-navbar{
        .navbar-collapse{
            .navbar-nav{
                position: fixed;
                left: 0;
                // background-color: $color-white;
                width: 100%;
                min-width: 280px;
                height: max-content;
                padding: $spacer-3;
                transform: translateY(-280px);
                transition: all .3s ease-in-out;
                opacity: 0;
                z-index: 999;
                background-color: rgba(0,0,0,0.5);
            }
            &.show {
                .navbar-nav {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
    }
}

@include tablet{
    .art-navbar{
        .navbar-collapse{
            .navbar-nav{
                position: fixed;
                left: 0;
                // background-color: $color-white;
                width: 100%;
                min-width: 280px;
                height: max-content;
                padding: $spacer-3;
                transform: translateY(-280px);
                transition: all .3s ease-in-out;
                opacity: 0;
                z-index: 999;
                background-color: rgba(0,0,0,0.5);
            }
            &.show {
                .navbar-nav {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        &__nav-item{
            &:last-child{
                margin: $spacer-3 $spacer-4;
            }
        }
        .navbar-nav li{
            &:hover{
                transform: translateX(3px);
            }
        }
        &__right-sec{
            // top: 10%;
            .art-btn-prop{
                font-size: 11px;
                min-width: 129px;
            }
        }
        // &__whatsapp-wrap{
        //     flex-direction: row;
        // }
    }
    .art-navbar .navbar-collapse.show{
        .navbar{
            background-color: rgba(0,0,0,0.5);
        }
    }
}

@include desktop{
    .art-navbar{
        &__right-sec{
            position: unset;
        }
    }
}